<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nam.myui">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" />
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <activity android:name=".ButtonActivity"
            android:label="UIButton" />
        <activity android:name=".ToggleButtonActivity"/>
        <activity android:name=".CheckBoxActivity"/>
        <activity android:name=".RadioGroupActivity"/>
        <activity android:name=".HelloAndroidWithMenuActivity"/>
        <activity android:name=".AlertDialogActivity"/>
        <activity android:name=".AutoCompleteActivity"/>
        <activity android:name=".HelloTabWidget"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".AlbumsActivity"/>
        <activity android:name=".ArtistsActivity"/>
        <activity android:name=".SongsActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".LinearLayoutActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".RatingsBarActivity" />
        <activity android:name=".RelativeLayoutActivity" />
        <activity android:name=".SamplerActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".TableLayoutActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".GalleryWithViewPagerActivity" />
        <activity android:name=".DatePickerActivity" />
        <activity android:name=".DatePickerFragmentActivity" />
        <activity android:name=".TimePickerActivity" />
        <activity android:name=".TimePickerFragmentActivity" />
        <activity android:name=".TabLayoutActivity" />
        <activity android:name=".UITLImageViewActivity" />
        <activity android:name=".UIGLGridLayoutActivity" />
        <activity android:name=".UIGLImageViewActivity" />
        <activity android:name=".FSLQuoteViewerActivity" />
        <activity android:name=".FSCLQuoteViewerActivity" />
        <activity android:name=".TitlesListActivity"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />
        <activity android:name=".QuoteListActivity"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />
        <activity android:name=".FDLQuoteViewerActivity" />
    </application>

</manifest>